@use '/src/style/variables' as var;

#projects {
    display: flex;
    justify-content: center;
}

.project__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$tablet-bp) {}
  
//*****************************************************************************************
//---------------------------------- Media query Desktop ----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$desktop-bp) {}