@use '/src/style/variables' as var;

#footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    padding: 1rem;
}
  
//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$tablet-bp) {}
  
//*****************************************************************************************
//---------------------------------- Media query Desktop ----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$desktop-bp) {}