@use '/src/style/variables' as var;

#contact {
    display: flex;
    justify-content: center;
}

.contact__container {
    width: 90%;
    padding: 1rem;
}

.contact__icons {
    display: flex;
    justify-content: space-around;

    img:hover {
        transform: scale(1.1);
        transition: 0.3s ease-in-out all;
    }
}

.contact__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    .contact__link {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid transparent;

        a {
            font-size: 1rem;
            text-decoration: none;
            color: var.$offWhite;

        }

        &:hover {
            color: var.$hoverBlue;
            border-color: var.$hoverBlue;
            transition: 0.5s ease all;
        }
    }
}
  
//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$tablet-bp) {}
  
//*****************************************************************************************
//---------------------------------- Media query Desktop ----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$desktop-bp) {}