//typovaribles
$h1Font: "Rubik Bubbles", sans-serif;
$h2-3Font: "Rubik Bubbles", sans-serif;
$h4-6Font: "Rubik Mono One", sans-serif;
$bodyText: "Rubik", sans-serif;

//color-variabels
$offWhite: #F2F2F2;
$almostBlack: #222222;
$hoverBlue: #00afea;
$black08: rgba(0, 0, 0, 0.8);

//breakpoints
$mobile-bp: 375px;
$tablet-bp: 744px;
$desktop-bp: 1440px;