@use '/src/style/variables' as var;

#about {
    display: flex;
    justify-content: center;
}

.about__container {
    width: 90%;
    padding: 1rem;
}
  
.about__list__container {
    display: flex;
    flex-direction: row;
}
//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$tablet-bp) {}
  
//*****************************************************************************************
//---------------------------------- Media query Desktop ----------------------------------
//*****************************************************************************************
  
@media only screen and (min-width: var.$desktop-bp) {}