@use '/src/style/variables' as var;

@import './style/normalize';
@import './style/variables';
@import './components/templates/fullpage/fullpage';

:root {
  font-size: rem(16px);
}

* {
  box-sizing: border-box;
}

body {
  background: var.$almostBlack;
  color: var.$offWhite;
}

//*****************************************************************************************
//---------------------------------- Media query Tablet -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$tablet-bp) {}

//*****************************************************************************************
//---------------------------------- Media query Desktop -----------------------------------
//*****************************************************************************************

@media only screen and (min-width: var.$desktop-bp) {}